# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment
.env
.env.local

# Build
dist/
build/

# Temp
tmp/
temp/
*.tmp

# Private keys
*.pem
*.key
!hqmx-ec2.pem

# Cache
.cache/
frontend-ex/
